{% include "partials/head.html" %}
{% include "partials/nav.html" %}

{% block content %}

<div class="grid-container full">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell small-4 large-4">
            <h1>Welcome to Sql</h1>
            <form action="" method="POST">
                <p>
                    {{ form.sql.label }} {{ form.sql(size = 32) }}
                </p>
                <p>
                    {{ form.from_date.label }} {{ form.from_date(class_='datepicker') }}
                </p>
                <p>
                    {{ form.to_date.label }} {{ form.to_date(class_='datepicker') }}
                </p>
                <p>
                    {{ form.submit(class="button") }}
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% include "partials/scripts.html" %}