<html>
{% include "partials/head.html" %}
{% include "partials/nav.html" %}

<div class="grid-container ">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell small-6 large-6">
      {% if n %}
      <h1>Hello, {{ n }}!</h1>
      {% else %}
      <h1>Hello, World!</h1>
      {% endif %}
    </div>
  </div>


  <div class="grid-x grid-margin-x align-center">
    <div class="columns small-6 large-6">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.fun_name.label }}
        {{ form.fun_name(size=32) }}
        {{ form.submit(class="button") }}
      </form>
    </div>
  </div>
</div>


{% include "partials/scripts.html" %}

</html>