{% include "partials/head.html" %}
{% include "partials/nav.html" %}

{% block content %}

<div class="grid-container full">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell small-4 large-4">
      <h1>Sign In</h1>
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
          {{ form.username.label }}
          {{ form.username(size=32) }}
        </p>
        <p>
          {{ form.password.label }}
          {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class="button") }}</p>
      </form>
    </div>
  </div>
</div>
<form method="get" action="login">
    <button id="login-button" class="btn btn-primary" type="submit">Login</button>
</form>
{% endblock %}

{% include "partials/scripts.html" %}